.container{
    background: #ffffffe6;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0;
    padding: 4vw;
    overflow: auto;
}

/* .header{
    font-size: 1.6em;
}
.header a{
    color: inherit;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.header a:hover{
    color: #ae1f23;
} */

.content p{
    line-height: 1.6;
    display: block;
    font-size: 1em;
    font-weight: normal;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editButtonContainer{
    text-decoration: none
}

.signature{

}
.aside{

}

pre code{
    background-color: #414347;
}

