.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 35px;
}


 .sideBarItemContainer{
     cursor: pointer;
 }
 .sideBarItemContainer img{
    cursor: pointer;
    margin: 10px; 
    height: 100%;
    width: 100%;
}