.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 150px;
    width: 40px;
}

.addContainer{
    background-image: url('./../../assets/images/add.png');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 35px;
}
.addContainer:hover{
    background-image: url('./../../assets/images/add_over.png');
    --height: 10px;
 }

 .searchContainer{
    background-image: url('./../../assets/images/search.png');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 35px;
}
.searchContainer:hover{
    background-image: url('./../../assets/images/search_over.png');
    --height: 10px;
 }