.container{
    position: fixed;
    top: 10px;
    right: 10px;
}

.login{
    color: #006da3;
    font-weight: 700;
    text-decoration: none;
}

.picture{
    width: 5vw;
    min-width: 30px;
    max-width: 60px;
    border-radius: 50%;
    cursor: pointer;
}


.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipContainer .tooltip {
  --visibility: hidden;
  width: 200px;
  background-color: #082736B3;
  --opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .tooltipContainer:hover .tooltip {
  visibility: visible;
} */

.tooltipContainer .tooltip .name {
  font-size: 18px;
}

.tooltipContainer .tooltip .loggedin {
  font-size: 14px;
}

.tooltipContainer .tooltip .logout {
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.tooltipContainer .tooltip .logout:hover {
  color: #ff6600;
}


.closeButton{
  width: auto;
  height: auto;
  position: absolute;
  right: 5px;
  top: 7px;
  padding: 2px;
  border: 1px solid transparent;
}
.closeButton:hover{
  border: 1px solid #fff;
  border-radius: 5px;
}
.closeButton:active{
  border: 2px #fff inset;
  border-radius: 5px;
}