.container{
    /* text-transform: uppercase;
    position: fixed;
    top: 10px;
    right: 10px; */
    display: flex;
    flex-direction: row;
}

.nameContainer{
    flex: 3 0;
}

.pictureContainer{
    flex: 1 0;
    border-radius: 50%;
}

.loggedViaContainer{
    flex: 1 0;
}