.container{
    position: fixed;
    padding: 0;
    top: 1.5vw;
    width: 100vw;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subContainer{
    display: flex;
    flex-direction: column;
}

.header{
    color: #082736;
    font-family: Raleway,Helvetica Neue,Helvetica,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    font-weight: 900;
    font-size: 7vw;
    line-height: 1;
    cursor: pointer;
}

.subHeaderContainer{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.twitterImage{
    margin-right: 8px;    
}

.twitterHeader{
    color: #006da3;
    font-size: 14px;
    font-weight: 700;
    font-family: Raleway,Helvetica Neue,Helvetica,sans-serif;
    letter-spacing: 0.1em;
    margin-right: 0.5em;
}